numpy==2.3.4             # upgraded from 1.20.3
pandas==2.3.3            # upgraded from 1.3.3
matplotlib==3.10.7       # upgraded from 3.5.0
plotly==6.3.1            # upgraded from 5.1.0
PyALE==1.2.0             # upgraded from 1.1.2
scikit-learn==1.7.2      # upgraded from 1.0.1
scipy==1.11.3            # upgraded from 1.7.1
seaborn==0.13.2          # upgraded from 0.11.2
shap==0.54.0             # upgraded from 0.39.0
tensorflow==2.21.0       # upgraded from 2.12.1
xgboost==3.1.1           # upgraded from 1.5.1
imbalanced_learn==1.2.2  # upgraded from 0.8.1
keras==3.12.0            # upgraded from 2.7.0
keras_nightly==3.12.0.dev2025100703 # upgraded from 2.5.0.dev2021032900
h2o==3.46.0.8
scikit-plot==0.3.7 
imblearn==0.0
shutup==0.1.3
sqldf==0.4.2
